body {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
}

.document-container {
    display: none;
    position: absolute;
    width: 55vh;
    height: 85vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.document-container > img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
}

.printer-container {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 65vh;
    height: 45vh;
    background-color: rgb(231, 231, 231);

    margin: 0 auto;
    left: 0;
    right: 0;

    border-radius: 2vh;

    overflow: hidden;
}

.printer-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5vh;
    background-color: rgb(102, 170, 247);
}

.header-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 3.5vh;

    margin: .75vh;
}

::placeholder {
    color : rgb(51, 51, 51);
  }

.printer-label {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30%;
    transform: translateY(-50%);
    width: 40vh;
    height: 4.5vh;
    background-color: rgb(141, 141, 141);
    color : rgb(51, 51, 51);
    border-radius: 1.5vh 1.5vh 1.5vh 1.5vh;
    

    outline: none;
    border: none;

    text-align: center;

    font-family: "Courier New";
    font-size: 1.5vh;

    transition: .2s ease-in-out;
    
    border-bottom: .4vh solid rgba(0, 128, 0, 0);
}

.printer-input {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40vh;
    height: 4.5vh;
    background-color: rgb(141, 141, 141);
    color : white;
    border-radius: 1.5vh 1.5vh 1.5vh 1.5vh;
    

    outline: none;
    border: none;

    text-align: center;

    font-family: "Courier New";
    font-size: 1.5vh;

    transition: .2s ease-in-out;
    
    border-bottom: .4vh solid rgba(0, 128, 0, 0);
}

.printer-amount {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 70%;
    transform: translateY(-50%);
    width: 40vh;
    height: 4.5vh;
    background-color: rgb(141, 141, 141);
    color : white;
    border-radius: 1.5vh 1.5vh 1.5vh 1.5vh;
    

    outline: none;
    border: none;

    text-align: center;

    font-family: "Courier New";
    font-size: 1.5vh;

    transition: .2s ease-in-out;
    
    border-bottom: .4vh solid rgba(0, 128, 0, 0);
}

/* .printer-input:focus {
    border: .2vh solid orange;
} */

/* .printer-input:valid {
    border-radius: 1.5vh 1.5vh 0 0;
    border-bottom: .4vh solid green;
} */

/* .printer-accept {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 18vh;
    height: 7vh;
    background-color: black;
    color: white;
    text-align: center;
    margin: 5vh;
    left: 10%;
}

.printer-decline {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 18vh;
    height: 7vh;
    background-color: black;
    color: white;
    text-align: center;
    margin: 5vh;
    right: 10%;
} */

.printbtn {
    position: absolute;
    bottom: 2vh;
    right: 8vh;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .cancelbtn {
    position: absolute;
    bottom: 2vh;
    right: 2vh;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }

  .fa-check-circle {
    color:rgb(102, 170, 247);
    transition-duration: 0.4s;
  }

  .fa-check-circle:hover {
    color:rgb(7, 241, 19);
  }

  .fa-times-circle {
    color:rgb(102, 170, 247);
      transition-duration: 0.4s;
  }

  .fa-times-circle:hover {
    color: rgb(248, 6, 6);
  }